<%= @photo.name %>

<p><%= image_tag @photo.picture %></p>
 
<%= link_to 'Edit', edit_album_photo_url(@photo.album.id, @photo) %> |
<%= link_to "Back to Photos in #{@photo.album.name}", album_url(@photo.album.id) %>
